h1 {
  text-align: center;
}

.team-name {
  color: #1F5A97;
  font-weight: 700;
  font-size: 16px;
  font-family: 'Helvetica','Arial', sans-serif
}

.player-name {
  color: #333;
  font-size: 14px;
  font-family: 'Helvetica','Arial', sans-serif
}